@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

.bg-login {
	background-image: url('../assets/png/login-bg.png');	
}

@media only screen and (max-width: 1024px) {
	.bg-login {
		background: white;
	}
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  color: #FF7F37;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.329);
  border-width: 1px;
  border-radius: 0.25rem;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-checkbox:focus {
  outline: none;
  border-color: #FF7F37;
}

.in-front-of {
  position: relative;
  z-index: 100;
}

.flare-menu-item {
	position: absolute;
	left: 0%;
	right: 50%;
	top: 30%;
	bottom: 0%;
	z-index: -1;
	background: linear-gradient(92.01deg, #15E6AE 20.48%, #57A8FF 75.68%);
	border-radius: 20px;
}

@layer components {
	.button-normal {
		@apply relative px-6 py-3 font-medium leading-5 tracking-wider transition-all duration-500 ease-in-out bg-orange-500 rounded-md hover:bg-orange-600;
	}

	.transformers {
		@apply transition-all duration-500 ease-in-out;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.border-slim {
		border: 0.5px solid rgba(255, 255, 255, 0.2);
	}

	.border-slim-hidden {
		border: 0.5px solid rgba(255, 255, 255, 0.0);
	}

	.design-button {
		@apply p-4 rounded-lg cursor-pointer border-slim transformers;
		background: rgba(48, 69, 98, 0.3)
		
	}

	.design-button:hover {
		@apply shadow-inner ;
		background: rgba(48, 69, 98, 0.6);
		box-shadow: 0px 25px 50px rgba(0, 0, 0, .25);
		backdrop-filter: blur(40px);

	}
	/*
	* LOGIN COMPONENTES
	*/

	.login-card {
		@apply max-w-5xl bg-white lg:p-10 lg:shadow-2xl rounded-2xl;
	}

	.sidebar-hover {
		@apply transition-all duration-200 ease-in-out border-solid hover:bg-white/10 hover:border-slim rounded-xl;
	}
	
}
